header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-sm) var(--spacing-md);
    gap: var(--spacing-sm);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: var(--shadow-md);
    height: 75px;
}
.logoLink {
    color: var(--text);
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    text-decoration: none;
    font-size: var(--spacing-md);
    font-weight: 700;
}
.light-dark-button {
    display: flex;
    align-items: center;
    width: 40px;
    background-color: var(--background);
    color: var(--text);
    border: none;
    cursor: pointer;

}
#theme-toggle:active .theme-icon {
    transform: rotate(45deg);
    transition: transform 0.2s ease;
}
.hamButton{
    width: 40px;
    height: 30px;
    position: relative;
    background-color: var(--background);
    border: none;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hamButton span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--text);
    border-radius: 25%;
    transition: all var(--transition-normal);
    transform-origin: center center;
}
.hamButton.open span:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}
.hamButton.open span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
}
.hamButton.open span:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}
.navMenu {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100dvh - 75px);
    background-color: var(--background);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all var(--transition-normal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navMenu.open {
    opacity: 1;
    visibility: visible;
}
.mainNav {
    display: flex;
    gap: var(--spacing-sm);
    position: fixed;
    top: 75px;
    left: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    background-color: var(--background);
    flex-direction: column;
    padding-top: 80px;
    transition: right 0.4s ease-in-out;
    z-index: 1000;
}
.navList{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.navLink {
    color: var(--text);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-md);
    transition: background-color var(--transition-fast);
    font-size: 2rem;
    display: block;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    font-family: var(--font-family);
}
.navLink:hover,
.navLink.active {
    transform: scale(1.1);
    background-color: var(--accent);
    color: var(--background);
}
@media screen and (min-width: 1024px) {
    .hamButton {
        display: none;
    }
    .navMenu {
        position: static;
        height: auto;
        width: auto;
        opacity: 1;
        visibility: visible;
        display: block;
    }
    .navList {
        flex-direction: row;
        gap: var(--spacing-lg);
    }
    .navLink {
        font-size: var(--spacing-md);
        padding: var(--spacing-xs) var(--spacing-sm);
    }
    .navLink.active{
        background-color: var(--accent);
        color: var(--background);
        
        box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
        transform: translateY(0);
        font-weight: bold;
        cursor: default;
    }
}